<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguidenyc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandmarkActivity"
            android:label="@string/landmark"
            android:parentActivityName="com.example.android.tourguidenyc.MainActivity" />
        <activity
            android:name=".MuseumActivity"
            android:label="@string/museum"
            android:parentActivityName="com.example.android.tourguidenyc.MainActivity" />
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/restaurant"
            android:parentActivityName="com.example.android.tourguidenyc.MainActivity" />
        <activity
            android:name=".EventActivity"
            android:label="@string/event"
            android:parentActivityName="com.example.android.tourguidenyc.MainActivity" />
    </application>

</manifest>